.btn {
    color: black;
    border-radius: 10px;
    border: 2px solid black;
    text-decoration: none;
    backdrop-filter: blur(10px);
}

.btn span {
    font-family: 'Andika', sans-serif;
}

.btn:hover {
    transform: translateY(-3px);
}